{% extends 'base.html' %}

{% block breadcrumbs %}

{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
        <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1 align="center">{{ post.title }}</h1>

{% if post.photo %}
<div class=centered-image>
    <p><img src={{post.photo.url}} width="500" height="473" alt="{{ post.title }}"></p>
</div>
{% endif %}

{% comment %} <p class="image-text">{{ post.content|linebreaks }}</p> {% endcomment %}
<p class="image-text">{{ post.content }}</p>
{% endblock %}
