{% extends 'base.html' %}


{% block content %}
<h1 align="center">{{ post.title }}</h1>

{% if post.photo %}
    <p><img class="img-article-left" src={{post.photo.url}}></p>
{% endif %}


{% comment %} {{ post.content|linebreaks}} {% endcomment %}
{% if post.title == "Абиссинская кошка"%}
    <p align="center"><img src="https://www.purina.ru/sites/default/files/styles/nppe_breed_selector_500/public/2020-04/cat_abyssinian_0.jpg?itok=ZVHMdIdD"></p>
{% endif %}
<p align="center">{{ post.content|linebreaks }}</p>
{% endblock %}
